*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*navigation*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    margin-right: 20px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: #555;
}

a.hover{
    color: #555;
}

/*home-content*/
p{
    color: #555;
}

body{
    background-color: rgba(0, 255, 255, 0.348);
    background-image: url("greyabstract.png");
}

.mainhead{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#myname, .quote{
    align-self: flex-end;
    position: relative;
    padding-left: 30%;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding: 20px; 
}

.mid-text{
    max-width: 1080px;
    margin: auto;
    display: flex;
    background-color:rgb(215, 240, 255);
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
}

.banner{
    display: flex;
    flex: 1;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-image:url("greyabstract.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    float: left;
}
#banner1{
    background-image:url("greyabstract.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#banner2{
    background-image:url("greyabstract.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#banner3{
    background-image:url("greyabstract.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#banner4{
    background-image:url("greyabstract.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.banner h3{
    font-size: 25px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}

/*base*/
footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer ul{
    flex-basis: 33%;
    min-width: 300px;
    padding-left: 50px;
    display: flex;
    align-items: left;
    flex-direction: column;
}

form{
    flex-basis: 33%;
    border-radius: 10px;
    background-color: #555;
    padding: 20px;
}

.contact-name,.contact-email,.contact-msg{
    border: 2px solid rgba(0, 255, 255, 0.348);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn{
    display: inline-block;
    background-color: darkblue;
    color: white;
    padding: 20px;
    border: none;
}

.socials{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}
.linkedin-btn{
    padding: 12px;
    border-radius: 4px;
    margin:5px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    background-color: #3B5998;
    color:white;
}